include LICENSE.txt
include README.md
include CHANGES.md
include COMPATIBILITY_FIXES.md
include AUDIT_CHANGES.md
include *.md
include .gitattributes
recursive-include .github *.yml
recursive-include dwd *.c CPYTHON-LICENSE.txt
recursive-include tests *.py *.md *.txt *.json *.npy *.npz
recursive-include doc *.py *.rst *.md
recursive-include docs *.py *.rst *.md
global-exclude *.py[cod]
